body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100px;
  background-color: blue;
  /* border: 1px solid black; */
  border-width: 10px;
  border-style: double;
  border-color: black;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100px;
  background-color: brown;
  border: 1px solid green;
}
.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid goldenrod;
}
